.btn-main-extra-almost{
    height: 30px;
    font-size: 14px;
    margin-left: 10px;
    background-color: #004f91;
    color: #fff;
    font-weight: 600;
    font-family: "Proxima Nova",proxima-nova,sans-serif;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    text-decoration: none;
}

.btn-main-extra-almost:hover{
    background-color: #003c72;
}

#p-indicator-6bc4f6b722e00a2deb81655804f30d836ea5907d{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#p-indicator-6bc4f6b722e00a2deb81655804f30d836ea5907d:hover{
    cursor: pointer;
}

#ul-history-70c881d4a26984ddce795f6f71817c9cf4480e79{
    height: auto;
    width: auto;
    padding: 10px 10px;
}

.ul-history-children-item{
    background-color: rgb(240,240,240);
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.messages {
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* Internet Explorer 11 */
}
.messages::-webkit-scrollbar { /** WebKit */
    display: none;
}

.tooltip-a {
    position: relative;
    display: inline-block;
    font-size: 13px;
}

.tooltiptext-a{
    text-indent: 0;
}

.tooltip-a .tooltiptext-a {
    visibility: hidden;
    width: 90px;
    background-color: #8b8b8b;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-a .tooltiptext-a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #8b8b8b transparent transparent transparent;
}

.tooltip-a:hover{
    cursor: pointer;
}

.tooltiptext-a:hover{
    cursor: default;
}

.tooltip-a:hover .tooltiptext-a {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s;
}